/* Re: "Unknown at rule @tailwind" warning - https://github.com/tailwindlabs/tailwindcss/discussions/13881 */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full;
}

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-prBtnBg text-prBtnText font-semibold rounded hover:bg-prBtnHover;
  }
  .btn-secondary {
    @apply py-2 px-5 bg-seBtnBg text-white font-semibold rounded hover:bg-seBtnHover;
  }
}

.shadow-orange {
  box-shadow: 0 4px 6px -1px rgba(255, 165, 0, 0.1),
    0 2px 4px -1px rgba(255, 165, 0, 0.06);
}

.rmdp-panel-body li .b-deselect {
  background-color: #fabe25 !important;
}

.yellow .rmdp-panel-body li {
  background-color: #fabe25 !important;
}

.rmdp-panel-body li .b-deselect span {
  color: white;
}
.yellow .rmdp-day.rmdp-selected span {
  background-color: #fabe25 !important;
}

.rmdp-week-day {
  color: #fabe25 !important;
}

.yellow .rmdp-arrow {
  border: solid #fabe25 !important;
  border-width: 0 2px 2px 0 !important;
}
